{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "env": {
    "build": {
      "plugins": [
        "transform-runtime"
      ]
    },
    "test": {
      "plugins": [
        "transform-object-assign"
      ]
    }
  }
}
