{
  "parser": "babel-eslint",
  "rules": {
    "strict": [2, "never"],
    "quotes": [2, "single", "avoid-escape"],
    "no-multi-spaces": 0,
    "no-use-before-define": [2, "nofunc"]
  },
  "env": {
    "node": true
  }
}
