._0 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
._0:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
  outline: thin dotted;
  outline-offset: -2px;
}
._0:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  text-decoration: none;
}
._0:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  background-image: none;
  outline: 0px;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
._0:active:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
._0[disabled] {
  background-color: #337ab7;
  border-color: #2e6da4;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}
@media only screen and (max-width: 640px) {
  ._0 {
    display: block;
    width: 100%;
  }
}
._1 {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
._2 {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
._3 {
  display: block;
  width: 100%;
}
